* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f5f5f5;
} 

.title {
    text-align: center;
    font-size: 5rem;
    margin-top: 50px;
    color: #820808;
}

.description {
    text-align: center;
    font-size: 20px;
}

.input-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-self: center;
    text-align: center;
    font-size: 20px;
    background-color: rgb(225, 221, 221);
    border-radius: 20px;
    padding: 10px;
    margin: 20px;
    width: 400px;
    height: 100px;
    gap: 10px;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease-in-out;
}


.btn-modify {
    background-color: #ffffff;
    margin-left :  20px;
    border-radius: 10px;    
    cursor: pointer;
    padding: 5px;
}
.btn-delete {
    background-color: #ffffff;
    margin-left: 10px;
    border-radius: 10px;
    cursor: pointer;
    padding: 5px;
}